body {
  background-color: #7364c2;
  background-image: url("https://cdn.discordapp.com/attachments/596036135956774927/596390318891466763/winnieMight.png");
  color: #000000;
  font-family: "Fjalla One", Arial;
}
h1 {
  font-size: 3em;
  overflow: break;
}
.overlay {
  width: 80%;
  min-width: 30%;
  margin: 3% auto;
  display: block;
  padding: 2%;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  text-align: center;
}
