body {
  margin: 0;
  padding: 0;
  background-color: #888888;
  background-image: url("https://wallpapercave.com/wp/wp1848524.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  color: #000000;
  font-family: "Fjalla One", Arial;
}
h1 {
  font-size: 3em;
  overflow: break;
  text-align: left;
}
h2{
  font-size: 3em;
  color: #ffffff;
  text-align: center;
}
.overlay {
  width: 80%;
  min-width: 30%;
  margin: 3% auto;
  display: block;
  padding: 2%;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  text-align: left;
}

.script {
  width: 80%;
  min-width: 30%;
  margin: 3% auto;
  display: block;
  padding: 2%;
  height: 270vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  text-align: left;
}

/* The navigation bar */
.navbar {
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 80%; /* Full width */
  border-radius: 40px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
