body {
  margin: 0;
  padding: 0;
  background-color: #888888;
  background-image: url("https://cdn.discordapp.com/attachments/596036135956774927/623226212797644830/wood1.png");
  background-repeat: repeat;
  background-size: auto;
  color: #000000;
  font-family: "Fjalla One", Arial;
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  font-size: 3em;
  overflow: break;
  text-align: left;
}
h2{
  font-size: 3em;
  color: #ffffff;
  text-align: center;
}
.overlay {
  width: 80%;
  min-width: 30%;
  margin: 3% auto;
  display: block;
  padding: 2%;
  height: 20vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  text-align: left;
}

/* The navigation bar */
.navbar {
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 80%; /* Full width */
  border-radius: 40px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.table{
  width: 80%;
  min-width: 30%;
  margin: 3% auto;
  display: block;
  padding: 2%;
  height: 50%;
  background-color: rgb(189, 189, 189, 0.8);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 40px;
}

.table2{
  width: 80%;
  min-width: 30%;
  margin: 3% auto;
  display: block;
  padding: 2%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 40px;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  width: 90%;
  
}

th,td{
  padding: 15px;
}

th{
  text-align:  left;
}

.title{
  font-size: 300%;
}